@import '../../styles/variables';
@import '../../styles/breakpoints';

.Header {
  z-index: 1;
  position: sticky;
  top: 0;
  margin: 0;
  background-color: $darkmagenta;
  padding: 0.7rem 2rem;
  color: $white;
}

@media #{$screen-sm} {
  .Header {
    padding: 0.7rem 1rem;
  }
}
