@import "styles/variables";
.card {
  display: inline-block;
  border-radius: .4rem;
  border: 1px solid transparentize($grayDarker, .7);
}

.inline {
  display: inline-block;
  border-right: 1px solid transparentize($grayDarker, .7);
  padding: 0 1rem;

  &:hover {
    background-color: transparentize($grayDarker, .9);
  }

  &:last-child {
    border-right: 0;
  }
}

.link {
  cursor: pointer;
  display: inline-block;
  margin: 0 -1rem;
  border: 0;
  padding: .5rem .8rem;
}

.isActive {
  background-color: $darkmagenta;
  color: $white;
}

.hasRadiusLeft {
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}

.hasRadiusRight {
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

.btn {
  cursor: pointer;
  margin-left: .7rem;
  border: 0;
  background-color: transparent;
  color: $blueLight;
  font-size: 1.3rem;

  &:hover {
    text-decoration: underline;
  }
}

