@import "styles/variables";
@import "styles/breakpoints";

.paginate {
  display: inline-block;
  border: 1px solid transparentize($grayDarker, .7);
}

.inline {
  display: inline-block;
  border-right: 1px solid transparentize($grayDarker, .7);
  padding: 0 1rem;

  &:hover {
    background-color: transparentize($grayDarker, .9);
  }

  &:last-child {
    border-right: 0;
  }
}

.link {
  cursor: pointer;
  display: inline-block;
  margin: 0 -1rem;
  border: 0;
  padding: .5rem .8rem;
}

.isActive {
  background-color: $darkmagenta;
  color: $white;
}

.isSmallDevice {
  display: none;
}

/*
Commented because of new UI

.hasRadiusLeft {
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}

.hasRadiusRight {
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}
 */

.btn {
  cursor: pointer;
  margin-left: .3rem;
  border: 0;
  background-color: transparent;
  color: $blueLight;
  font-size: 1.3rem;

  &.previous {
    margin-left: 0;
    margin-right: .3rem;
  }

  &:hover {
    text-decoration: underline;
  }
}

@media #{$screen-sm} {
  .inline {
    padding: 0 .6rem;
  }

  .link {
    cursor: pointer;
    display: inline-block;
    margin: 0 -.6rem;
    border: 0;
    padding: .5rem .6rem;
  }

  .btn {
    margin-left: .5rem;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 100%;
    background-color: $blueLight;
    color: $white;

    &.previous {
      margin-right: .5rem;
    }
  }

  .isLargeDevice {
    display: none;
  }

  .isSmallDevice {
    display: inline-block;
  }
}

