@use "../../styles/mixins";
@import "../../styles/variables";

.ChaptersModuleSheet {
  .chevron {
    transform: translateY(0.5rem);
    display: inline-block;
    font-size: 1.9rem;
    font-weight: bolder;

    &__down {
      transform: rotate(180deg);
    }
  }

  mark {
    display: inline-block;
    margin: 0.2rem 0.1rem 0.2rem 0;
    border-radius: 0.6rem;
    background-color: transparentize($grayLighter, 0.5);
    padding: 0.2rem 1rem;
    color: $black;
    font-size: 1.12rem;
    font-weight: 500;

    &.hasBorder {
      border: 1px solid $gray;
      background-color: transparent;
    }
  }

  ul {
    &.hasNoBorder {
      li {
        @include mixins.fontSize(1.2rem, 400);
        border-bottom: 0 none;
      }
    }
  }

  label {
    @include mixins.fontSize(1.2rem, 500);
  }

  input[type='text'],
  input[type='email'] {
    padding: 0.5rem 1rem;
  }

  .card {
    display: flex;
    flex-wrap: wrap;

    div {
      width: 150px;
      height: auto;
      border: 1px solid $black;

      span {
        display: inline-block;
        padding: 0.5rem;
      }
    }
  }
}