@use "../../styles/mixins";
@import "../../styles/variables";

.ChaptersModuleSheet {
  .chevron {
    transform: translateY(.5rem);
    display: inline-block;
    font-size: 1.9rem;
    font-weight: bolder;

    &__down {
      transform: rotate(180deg);
    }
  }

  ul {
    &.hasNoBorder {
      li {
        @include mixins.fontSize(1.2rem, 400);
        border-bottom: 0 none;
      }
    }
  }

  label {
    @include mixins.fontSize(1.2rem, 500);
  }

  input[type='text'],
  input[type='email'] {
    padding: .5rem 1rem;
  }

  .card {
    display: flex;
    flex-wrap: wrap;

    div {
      width: 150px;
      height: auto;
      border: 1px solid $black;

      span {
        display: inline-block;
        padding: .5rem;
      }
    }
  }
}