@import "styles/variables";

.alertBox {
  display: block;
  margin: .5rem 0;
  border-radius: .3rem;
  padding: 1rem;
  color: $white;

  h2, h3, h4,
  ul {
    margin: 0;
  }

  @if $orange {
    h5 {
      color: $white;
    }
  }
}

.danger {
  background-color: $redDarker;
}

.success {
  background-color: $green;
}

.warning {
  background-color: $orange;
}

.info {
  background-color: $blueLight;
}

