@import "styles/variables";

.hasAlertBox {
  display: block;
  margin: .5rem 0;
  padding: 1rem;
  color: $white;

  h2, h3, h4  {
    margin: 0;
  }
}

.danger {
  background-color: $redDarker;
}

.success {
  background-color: $green;
}

.warning {
  background-color: $orange;
}

.info {
  background-color: $blueLight;
}
