@import "styles/variables";
@import "styles/breakpoints";

.searchBox {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

@media #{$screen-sm} {
  .searchBox {
    flex-flow: column;
    align-items: flex-start;
    gap: 0;
  }
}

