@import "../../styles/variables";

.Navigation {
  z-index: 2;
  position: sticky;
  top: 4.4rem;
  margin: 0;
  background-color: $grayLighter;

  &__langSwitcher {
    position: absolute;
    top: 1rem;
    right: 0;
    //inset: 1rem 0 0 80%;
  }

  ul {
    display: inline-block;

    li {
      display: inline-block;
      border-right: 1px solid white;

      a {
        display: inline-block;
        padding: 0.8rem 1.3rem;
        color: $black;
        font-size: 1.5rem;
        text-decoration: none;

        &:hover {
          background-color: transparentize($white, 0.5);
        }

        &.active  {
          background-color: $gray;
          color: $white;
        }
      }
    }
  }
}