@import "styles/variables";

.navSidebar {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  padding-right: 0;

  ul {
    li {
      cursor: pointer;
      //padding: 0;
      border-bottom: 1px solid transparentize($darkmagenta, 0.9);
      font-weight: 500;
      font-size: 1.3rem;

      &:last-child {
        border-bottom: 0 none;
      }

      a {
        display: block;
        padding: 0.8rem 1rem;
        text-decoration: none;
        color: $black;
      }
    }

    &.hasNoBorder {
      li {
        padding: 0.2rem 0;
        border-bottom: 0 none;
      }
    }
  }
}

.activeLink {
  background-color: $gray;
  color: $white!important;
}
