@import "../../styles/variables";
@import "../../styles/breakpoints";
@import "../../styles/spacing";

.primary {
  z-index: 2;
  position: fixed;
  top: 4.5rem;
  width: 100%;
  margin: 0;
  background-color: $grayLighter;

  ul {
    display: inline-block;
    margin: 0;

    li {
      display: inline-block;
      border-right: 1px solid white;

      a {
        display: inline-block;
        padding: .8rem 1.3rem;
        color: $black;
        font-size: 1.5rem;
        text-decoration: none;

        &:hover {
          background-color: $gray;
          color: $white;
        }
      }
    }
  }
}

.sideBar,
.accordionNav {
  position: fixed;
  left: 0;
  overflow-y: auto;
  width: 24.99%;
  height: 100vh;
  margin: 0;
  border-right: 1px solid $grayLighter;
  padding: 2.6rem 0;

  ul {
    li {
      cursor: pointer;
      border-bottom: 1px solid transparentize($darkmagenta, .9);
      font-weight: 500;
      font-size: 1.3rem;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 4rem;
      }

      a {
        display: block;
        padding: .8rem 1rem;
        text-decoration: none;
        color: $black;

        &:hover {
          background-color: $gray;
          color: $white;
        }
      }
    }

    &.hasNoBorder {
      li {
        padding: .2rem 0;
        border-bottom: 0;
      }
    }
  }
}

.accordionNav {
  display: none;
}

.navigationSub {}

.isLinkActive {
  background-color: $gray;

  a {
    color: $white!important;
  }
}

.langSwitch {
  position: absolute;
  top: 1rem;
  right: 0;
}

@media #{$screen-md} {
  .primary {
    top: 3.6rem;
  }

  .sideBar {
    display: none;
  }

  .accordionNav {
    display: block;
  }
}

@media #{$screen-sm} {
  .primary {
    top: 3.55rem;
  }
}