@import "styles/variables";

.card {
  display: flex;
  gap: .5rem;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: left;
}

.track {
  flex-basis: 40%;
  border-radius: .6rem;
  border: 1px solid $gray;
  padding: .5rem
}