@import '../../styles/variables';
@import '../../styles/breakpoints';
@import '../../styles/spacing';
@import '../../styles/mixins';


.form {
  display: flex;
  justify-content: right;

  input[type='search'] {
    height: 2rem;
    border-radius: .3rem;
    border: 0;
    background-color: $whiteDark;
    padding: 0 .5rem;
    color: $blackLight;
    font-size: 1rem;
  }

  .btnSearch {
    cursor: pointer;
    margin-left: $spacer-2;
    background-color: transparent;
    border: 0;
  }
}

.searchResult,
.noMatches {
  margin-top: $spacer-1;
  margin-right: calc($spacer-8 - 1px);
  background-color: $blackLight;
  padding: .7rem 1rem;
  text-align: right;
  color: $white;

  a {
    color: $white;
  }
}

.noMatches {
  margin-top: -$spacer-2;
  margin-right: calc($spacer-7);
  box-shadow: 0 1px transparentize($blackLighter, .5);
  padding: .7rem 1rem!important;
}

.clearResultBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 $spacer-4;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: $white;

  a {
    @include fontSize(1.4rem, bolder);
    color: $black!important;
  }
}


