@import "../../styles/variables";

.cover {
  position: relative;

  h2 {
    margin-bottom: 0;
  }

  .btn {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    border: 0;
    background-color: $orange;
    padding: .8rem .6rem;
    color: $white;
    font-size: 1.4rem;
    font-weight: normal;

    &:hover, &:focus {
      background-color: $orange;
    }
  }

  .icoArrow {
    position: absolute;
    top: .5rem;
    right: 1rem;
    width: 32px;
    height: 32px;
    fill: $white;

    &__isOpen {
      transform: rotate(180deg);
    }
  }

  .content {
    margin-top: -.5rem;
    background-color: transparentize($grayLighter, 0.8);

    &__isOpen {
      display: block;
      transition: all ease 2s;
      margin-bottom: 0.5rem;
    }

    &__isClose {
      display: none;
      transition: all ease-out 2s;
    }
  }
}


