.boxCover {
  display: inline-block;
  width: 40%;
  margin: .5rem;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 1rem;

  img {
    float: left;
    display: inline-block;
    margin: 0 2rem 2rem 0;
    width: 150px;
    height: 150px;
    background-color: chocolate;
  }

  ul {
    li {
      list-style: none;
    }
  }

  button {
    border: 0 none;
    background-color: cornflowerblue;
    padding: 0;

    a {
      display: block;
      padding: 1rem 1.3rem;
      color: white;
      text-decoration: none;
    }

    &:hover {
      background-color: transparentize(cornflowerblue, 0.1);
    }
  }
}