.boxCover {
  display: block;
  width: 50%;
  min-height: 13rem;
  margin-bottom: 1rem;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 1rem;

  img {
    float: left;
    display:inline-block;
    margin-right: 2rem;
    margin-bottom: 2rem;
    max-width: 13rem;
    min-height: 6rem;
    background-color: chocolate;
  }

  ul {
    li {
      list-style: none;
    }
  }

  h4 {
    margin: 0;
    text-align: right;

    button {
      border: 0 none;
      background-color: cornflowerblue;
      padding: 0;

      a {
        display: block;
        padding: 1rem 1.3rem;
        color: white;
        text-decoration: none;
      }

      &:hover {
        background-color: transparentize(cornflowerblue, 0.1);
      }
    }
  }
}