@import "styles/variables";
@import "styles/breakpoints";

.cover {
  display: inline-block;
  width: inherit;
  margin: .2rem;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 1rem;

  .content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-content: center;
    justify-content: left;
    margin-bottom: 2rem;
  }

  .image {
    width: 85%;
    height: auto;
  }
}
