@import "variables";

@at-root .isDark {
  background-color: $blackLighter!important;
  color: $white!important;

  h2, h3, h5 {
    color: $orange;
  }

  .navLeft {
    ul {
      li {
        border-color: transparentize($white, .8);
      }
    }
  }

  ul {
    &.hasBorderBottom {
      li {
        border-bottom: $white!important;
      }
    }
  }

  a {
    color: $white!important;
  }

  hr {
    background-color: transparentize($white, .8);
  }
}





