$black: #000;
$blackLight: #2f2c2c;
$blackLighter: #1f1e1e;
$blueDark: #065170;
$blueLight: #1880AAFF;
$darkmagenta: #8B008BFF;
$gray: #454444;
$grayDarker: #424141;
$grayLight: #7c807c;
$grayLighter: #b7bab7;
$green: #0d7406;
$greenDarker: #095E03FF;
$orange: #e79706;
$red: #ea062e;
$redDarker: #a80520;
$white: #FFF;

$screen: 'screen and (max-width: 900px)';
$screen-sm: 'screen and (max-width: 576px)';
$screen-md: 'screen and (max-width: 900px)';
$screen-lg: 'screen and (max-width: 1224px)';
$screen-xl: 'screen and (max-width: 1824px)';
