@import "variables";
@import "functions";

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 2.3rem;
}

h2 {
  margin: 0 0 1rem 0;
  color: $darkmagenta;
  font-size: 2.1rem;
}

h3 {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.7rem;
}

h4 {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.5rem;
}

h5 {
  margin: .5rem 0;
  font-size: 1.2rem;
}

p {
  margin: 0.2rem 0;
  font-size: 1.2rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: .7rem 1rem;
    font-size: 1.1rem;

    a {
      display: block;
      margin: -.7rem -1rem;
      padding: .7rem 1rem;
      font-size: 1.2rem;
    }
  }

  &.hasBorderBottom {
    li {
      border-bottom: 1px solid $grayLighter;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

hr {
  border: 0;
  background-color: transparentize($gray, 0.8);
  height: 1px;
  margin: .7rem 0;
}

img {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

code {
  font-size: 1.4rem;
}

a {
  color: $darkmagenta;
  font-size: 1.2rem;
}

.btn {
  cursor: pointer;
  margin: 0.1rem 0.2rem 0.1rem 0;
  padding: 0.8rem 1rem;
  border: 0 none;
  color: $white;
  font-size: 1.2rem;

  &-primary {
    background-color: $grayLight;

    &:hover {
      background-color:$grayDarker;
    }
  }
  &-submit {
    background-color: $blueLight;

    &:hover {
      background-color:$blueDark;
    }
  }

  &-remove {
    background-color: $red;

    &:hover {
      background-color: $redDarker;
    }
  }

}

input {
  padding: .7rem .5rem;
  font-size: 1.1rem;
}
select {
  border: 0 none;
  font-size: 1.3rem;

  &:focus {
    outline: 0 none;
    border: 0 none;
  }
}

.has-padding {
  padding: 1rem;
}

