@import "styles/variables";

.infoBox {
  display: block;
  margin: .5rem 0;
  border-radius: .3rem;
  padding: 1rem;
  color: $white;

  h2, h3, h4,
  ul {
    margin: 0;
  }

  @if $orange {
    h3, h5 {
      color: $white;
    }
  }
}

.isDanger {
  background-color: $redDarker;
}

.isSuccess {
  background-color: $green;
}

.isWarning {
  background-color: $orange;
}

.isInfo {
  background-color: $blueLight;
}

